/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-background: #0f162d;
  --back-color-icon-pink: #373155;
  --back-color-icon-blue: #2c3455;
  --back-color-icon-light-blue: #274255;
  --back-color-icon-yellow: #3d413f;
  --color-text: #ffffff;
  --color-item-background: #272d42;
  --color-cards-text: #ffffff50;
}
